@media(width > 1500px){
 .piece {
            display: flex;
            justify-content: space-between;
        }

    .piece-container {
        width: 48%;
        margin-bottom: unset;
        /* border: 4px solid red; */
    }
        .view-image{
            cursor: pointer;
        }
.view-image:hover {
   background-color: #e5e5e5e1;
}
main{
    height: 100%;
}
    .main-image {
        width: 85%;
        height: 90%;
    }

    .piece-artist-info {
        /* position: absolute;
            bottom: -7.5rem;
            height: auto; */
        right: 0;
        top: 0;
        bottom: 0;
    }

    .piece-artist-info .thumbnail {
        width: fit-content;
        top: 20rem;
        left: 25%;
    }

    .piece-artist-info .thumbnail img {
        width: 9rem;
        height: 9rem;
    }

    .description-container {
        width: 30%;
        top: 0;
        margin-right: 6rem;
        /* border: 4px solid green; */
        align-self: flex-end;
        margin-bottom: unset;
    }

          .year {
            position: fixed;
              font-size: 300px;
              font-weight: 600;
              top: 20%;
              right: 3rem;
          }
          .top{
            top: unset;
          }
                   .description {
                       font-size: 24px;
                       line-height: 28px;
                       top: -10rem;
                       /* border: 2px solid red; */
                   }
}